@model CodeployerMVC.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security


<h2 style="text-align:center; margin-bottom:20px;">Przy użyciu mediów</h2>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <center>
            <div>
                <ul class="social-nav">
                    <li><a href="#" title="Twitter" rel="nofollow" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="Facebook" rel="nofollow" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Google plus" rel="nofollow" class="google"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </center>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
