@using CodeployerMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}
<center>
    <h1 class="deepshd">Zaloguj się na swoje konto</h1>
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <h2 style="margin-bottom:20px;">Przy użyciu formularza</h2>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Email, new { @style = "max-width: 100%;", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.Password, new { @style = "max-width: 100%;", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Uncomment if you want 'remember me' checkbox enabled
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="col-md-12" style="margin-top:5px;">
                            <input type="button" value="Nie masz konta? Kliknij tutaj!" class="btn btn-pureblack btn-pressure" onclick="location.href='@Url.Action("Register")'" />
                            <input type="submit" value="Zaloguj" class="btn btn-default btn-pressure" />
                        </div>
                    </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@

                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</center>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}