@model CodeployerMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Rejestracja";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <center>
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-12">
            <h1 class="deepshd">Wypełnij pola, aby się zarejestrować</h1><br/>
        </div>
    </div>
    <span class="validation-errors">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </span>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @style = "max-width: 100%;", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @style = "max-width: 100%;", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @style = "max-width: 100%;", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" class="btn btn-pureblack btn-lg btn-pressure btn-block" value="Zarejstruj się" />
        </div>
    </div>
    <div class="form-group" style="margin:300px auto 250px auto;">
        <div class="col-md-12">
                <h1 class="deepshd">Dlaczego warto się zarejestrować?</h1>
                <h2>Dzięki rejestracji masz dostęp do:</h2>
            <ul class="access" style="margin: 30px auto 30px auto;">
                <li>Podglądu projektów</li>
                <li>Komentowania postów</li>
                <li>Korzystania z kursów</li>
                <li><a href="~/Home/Contact">Kontaktu ze mną</a></li>
            </ul>
            <input type="button" id="toTop" class="btn btn-pureblack btn-lg btn-pressure btn-block" value="Przejdź do rejestracji" />
        </div>
    </div>
    </center>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval","~/Content/js/register.js")
}
