@model CodeployerMVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Zmień hasło";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <center>
    <h1 class="deepshd">Zmień swoje hasło</h1>
    @Html.AntiForgeryToken()
    <h2>Wypełnij formularz, w celu zmiany hasła</h2><br />
    <span class="validation-errors">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </span>
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.OldPassword, new { @style = "max-width: 100%;", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.NewPassword, new { @style = "max-width: 100%;", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @style = "max-width: 100%;", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Ustaw nowe hasło" class="btn btn-default btn-pressure" />
        </div>
    </div>
    </center>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}